body {
    color: rgb(0, 0, 0);
    background: rgb(51, 117, 30);
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(148, 212, 129);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

.chamada {
    background: rgb(25, 88, 12);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px; /* espaço entre logo e texto */
}

.logo {
    height: 90px; /* ajuste o tamanho conforme necessário */
    width: auto;
}


.chamada-texto {
    margin-right: 5%;
    color: white;
}

.nome-site{
    font-family: "Chela One", sans-serif;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(104, 207, 104);
}

.categoria h2 {
    color: rgb(255, 255, 255);
}